*,
*::before,
*::after {
  @apply box-border;
}

html {
  @apply scroll-py-4 scroll-smooth scheme-light-dark transition-colors;
}

body {
  @apply bg-primary font-onest text-text-primary m-0 min-h-dvh overscroll-none p-0 text-base leading-normal font-normal;
}

ul,
ol {
  @apply list-none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:focus-visible {
  @apply outline-accent;
}
