:root {
  --primary: light-dark(#ffffff, #121a23);
  --secondary: light-dark(#f8f8f8, #1f2a38);
  --border: light-dark(#f2f2f2, #e7e7e7);

  --accent: light-dark(#a1cdf8, #88ceff);
  --muted: light-dark(#606060, #92a3c8);

  --text-primary: light-dark(#232323, #f1f2f8);
  --text-secondary: light-dark(#464646, #cbd5e1);

  --font-outfit: "Outfit", sans-serif;
  --font-pally: "Pally", monospace;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);

  --color-accent: var(--accent);
  --color-muted: var(--muted);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --font-outfit: var(--font-outfit);
  --font-pally: var(--font-pally);

  --text-2xs: 0.7rem;
  --text-xs: 0.79rem;
  --text-sm: 0.89rem;
  --text-md: 1rem;
  --text-lg: 1.13rem;
  --text-xl: 1.27rem;
  --text-2xl: 1.42rem;
}
